certifi==2018.8.24
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.0
pipenv==2018.7.1
Pygments==2.7.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
xlrd==1.1.0
